@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Roboto:wght@300&display=swap");
.header {
    background-color: #20232a;
}
.container {
    max-width: 1204px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.logo {
    background-image: url("../img/logo-w\ 1.svg");
    width: 83px;
    height: 23px;
    margin-bottom: 40px;
}

p {
    color: cornflowerblue;
    margin-left: 85px;
    height: 23px;
    width: 140px;
    font-size: 20px;
}
.navbar__right {
    display: flex;
    margin-top: 3px;
}
.navbar__menu {
    list-style-type: none;
    display: flex;
}

.navbar__item {
    margin-right: 15px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: white;
    font-size: 22px;
}
input {
    background-color: cornflowerblue;
    width: 146px;
    height: 25px;
    margin-top: 15px;
    border-radius: 15px;
    position: relative;
    font-size: 15px;
}
input::placeholder {
    color: black;
}
li {
    list-style-type: none;
    font-family: "Lato", sans-serif;
    position: relative;
}

.active::after {
    content: "";
    height: 2px;
    width: 80px;
    background-color: cornflowerblue;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.header__welcome-tittle {
    font-size: 60px;
    margin-left: 165px;
    margin-top: 90px;
}
